<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaxDevs</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    

    <!-- navbar  -->
    <ul id="slide-out" class="sidenav sidenav-fixed ">

        <li><div class="white profile-image">
            <a href="#user"><img class="circle center" src="https://media.giphy.com/media/QssGEmpkyEOhBCb7e1/giphy.gif"></a>
            <h5 class="name center">MaxDevs</h5>
            <p class="email center teal-text text-darken-2">Java/Web Apps</p>
          </div></li>
        <li><a href="/"><i class="small material-icons blue-grey-text text-darken-4">person</i>Profile</a></li>
        <li><a href="/contact"><i class="small material-icons blue-grey-text text-darken-4">contact_mail</i>Contact</a></li>
        
      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <div class="container about center">

        <img class="responsive-img" src="/images/Max_unibz.jpg">
        <ul class="social-media">
            <li><a href="https://www.facebook.com/papa.awuah.1" class="btn-floating btn-small blue darken-4" > <i class="fab fa-facebook"></i></a></li>&nbsp&nbsp
            <li><a href="https://www.instagram.com/papaawuah/" class="btn-floating btn-small red darken-4" >
                <i class="fab fa-instagram"></i>
            </a></li>&nbsp&nbsp
            <li><a href="https://twitter.com/papaawua" class="btn-floating btn-small  light-blue" ><i class="fab fa-twitter"></i></a></li>
        </ul>
        <div class="main-content ">
            <h5 class="name teal-text text-darken-4">I'm Maxwell Henneh</h5>
            <p>Java / Web Application Developer</p>
            </div>

        </div>