<%- include('partials/header') %>

<div class="container ">
    <div class="row">
    <h6 class="name col s12 m8 l8 offset-m2 offset-l3">Contact me for your personal blogs, Organisation Sites, Business web apps etc. </h6>
</div>

<div class="row">
    <form class="col s12 m8 l8 offset-m2 offset-l3"  method="POST" action="/contact" id="contactForm">
      <div class="row">
        <div class="input-field col s12 m12 l10 ">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" name="name" required>
          <label for="name">Your Name</label>
        </div>
        <div class="input-field col s12 m12 l10 ">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate" name="email" required>
            <label for="email">Your email</label>
            <span class="helper-text" data-error="wrong" data-success="right">Example: abc@gmail.com</span>
          </div>
        <div class="input-field col s12 m12 l10">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate" name="phone" required>
          <label for="icon_telephone">Telephone</label>
        </div>
        <div class="input-field col s12 m12 l10">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="textarea" class="materialize-textarea" name="message" required></textarea>
            <label for="textarea">Brief Message</label>
          </div>
      </div>
      <button class="btn blue-grey darken-4 waves-effect waves-light col s12 m12 l10" type="submit">Send Details
        <i class="material-icons right">send</i>
      </button>
    </form>
    
  </div>
      

</div>




<%- include('partials/footer') %>