<%- include('partials/header') %>

<div class="container about center">

    <div class="main-content ">
        <div class="row">
        <div class="card-panel blue-grey lighten-5 col s12 m8 l8 offset-m2 offset-l3">
            <h5 class="name teal-text text-darken-4">About me</h5>
            <p> Mission-Driven full stack developer, passionate about programming. 
            The goal is to try and build software to help improve the lives of those around me. 
            Contact me for your personal Blogs, Orginazation web application, small business web apps etc.</p>
              </div>

              <div class="card-panel blue-grey lighten-5 col s12 m8 l8 offset-m2 offset-l3">
                <h5 class="name teal-text text-darken-4">Skills</h5>
                <h6 class="name">Web Development</h6>
                <p>Javascript, JAVA, Node js, MongoDB, PostgreSQL, Git.</p>

                <h6  class="name">Frontend Development</h6>
                <p>HTML, CSS, Boostrap, Materialize, Phonegap, React js.</p>

                <h6  class="name">UI/UX Design</h6>
                <p>Sketch, Wireframing, Usability Testing etc.</p>
                
                  </div>

                  <div class="card-panel blue-grey lighten-5 col s12 m8 l8 offset-m2 offset-l3">
                    <h5 class="name teal-text text-darken-4">Experience</h5>
                    <h6 class="name">Programming</h6>
                    <p>Over 5 years experience programming with the above skills</p>
    
                    <h6  class="name">Work</h6>
                    <p>Personal Projects, Numerous school projects, Projects for friends and Organizations.</p>
                    
                      </div>

                      <div class="card-panel blue-grey lighten-5 col s12 m8 l8 offset-m2 offset-l3">
                        <h5 class="name teal-text text-darken-4">Projects Repository</h5>
                       <p><a href="https://github.com/Awuah10">Git Repository</a></p>
                        
                          </div>

                </div>
        
        </div>
        
</div>


<%- include('partials/footer') %>